* {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    flex-direction: column;
}

.header_first {             /* header 첫 줄 */
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 30px 5px 20px;         /* 위부터 시계 방향으로 */
    background-color: rgb(244, 241, 248);
}

.header_first div :nth-child(1){             /* 뱅크샐러드 앱 다운로드 Btn */
    background-color: white;
    border: 1px solid rgb(235, 222, 222);
    border-radius: 5px 5px 5px 5px;

    font-weight: bold;
    font-size: 12px;

    padding: 3px;
    margin-right: 5px;
}
.header_first div :nth-child(2) {              /* 인증서 센터 a tag */
    color: gray;
    border: 1px solid rgb(235, 222, 222);
    border-radius: 5px 5px 5px 5px;
    background-color: white;

    font-size: 12px;
    font-weight: bold;

    padding: 3px;
}

.header_first ul{             /* 자주 묻는 질문 | 고객안심센터 | 뱅샐머니(송금) */
    font-size: 12px;  
}
.header_first ul a{             /* 자주 묻는 질문 | 고객안심센터 | 뱅샐머니(송금) */
    font-size: 12px;
    padding: 0px 10px 0px 10px;  /* padding-right, left */
}

.header_first ul a:nth-child(1),
.header_first ul a:nth-child(2){             /* 자주 묻는 질문 | 고객안심센터 | 뱅샐머니(송금) */
    border-right: 1px gray solid;  
}

.header_second {
    display: flex;
    align-items: center;

    border-top: 1px solid rgb(189, 188, 188);
    border-bottom: 1px solid rgb(189, 188, 188);
}

.header_second .title {
    font-weight: bold;
    font-size: 26px;

    margin : 0px 24px 0px 0px;
    padding: 12px;
}


.header_second .category a {
    padding: 0px 12px 0px 12px;
}

.card_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_list a {
    padding: 12px 6px 12px 6px;
    background-color: rgb(77, 131, 77);
    color: white;

    border-radius: 5px;
}